@keyframes bounce {
  0% {
    translate: 0 0;
  }
  70% {
    translate: 0 0;
  }
  100% {
    translate: 0 -0.1em;
  }
}

@keyframes wave {
  0% {
    translate: 0 0;
    opacity: 0;
  }
  40% {
    translate: 0 -0.1em;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes blink {
  0%,
  43%,
  100% {
    opacity: 0;
  }
  50%,
  93% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes drop-in {
  0% {
    translate: 0 -8em;
    opacity: 0;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}
