#intro {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: var(--spacing-section);
  padding-top: 1rem;
}

header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--drem) * 1);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-size: min(1.25rem, 4.25vw);
  a {
    padding: var(--drem);
  }
}

.diamond {
  width: 0.25em;
  height: 0.25em;
  margin-right: 3px;
  background-color: var(--color-light-grey);
  rotate: 45deg;
  @media (prefers-reduced-motion: no-preference) {
    opacity: 0;
    &.viewed {
      animation: fade-in 1s cubic-bezier(0.55, 0.28, 0.1, 1.14) forwards;
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .navlink span {
    opacity: 0;
    translate: 0 -4em;
  }

  .navlink.viewed span {
    animation: slide-in-top 750ms cubic-bezier(0.55, 0.28, 0.1, 1.14) forwards;
  }
}

.terminal {
  @media (prefers-reduced-motion: no-preference) {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    &.viewing {
      opacity: 1;
    }
  }
}

#about {
  display: flex;
  row-gap: var(--spacing-block);
  align-items: center;
  @media screen and (max-width: 700px) {
    flex-flow: column-reverse;
  }
  max-width: var(--max-width-s);
  margin-inline: auto;
  padding-inline: var(--spacing-inline);
  padding-top: var(--spacing-block);
  p {
    padding-top: 1em;
    @media (prefers-reduced-motion: no-preference) {
      opacity: 0;
      &.viewed {
        animation: fade-in 2s cubic-bezier(0.38, 0.11, 0.38, 0.96) forwards;
      }
    }
  }
  .image-wrapper {
    flex-shrink: 0;
    position: relative;
    @media (prefers-reduced-motion: no-preference) {
      opacity: 0;
      &.viewed {
        animation: subtle-scale 2s cubic-bezier(0.38, 0.11, 0.38, 1) forwards;
      }
    }
  }
  img {
    object-fit: contain;
    image-rendering: optimizeQuality;
    user-select: none;
  }
  .glasses {
    transform-origin: right;
    image-rendering: pixelated;
    position: absolute;
    top: 8%;
    left: 20%;
    width: 60%;
    rotate: 15deg;
    opacity: 0;
    transition-timing-function: cubic-bezier(0.075, 0.5, 0.1, 1.2);
    &.clicked {
      top: 24%;
      left: 13%;
      rotate: 4deg;
      opacity: 1;
    }
  }
}

#projects {
  min-height: 100vh;
  max-width: var(--max-width-l);
  margin-inline: auto;

  padding-bottom: var(--spacing-section);
  padding-inline: var(--spacing-inline);
  padding-top: var(--spacing-block);

  h2 {
    margin-inline: auto;
    max-width: 600px;
    min-width: 50%;
    margin-bottom: var(--spacing-block);
  }
}

#contact {
  min-height: 100vh;
  max-width: var(--max-width-m);
  margin-inline: auto;

  // padding-bottom: var(--spacing-section);
  padding-inline: var(--spacing-inline);
  padding-top: var(--spacing-block);

  display: flex;
  flex-direction: column;
}

.contact-wrapper {
  display: flex;
  row-gap: var(--spacing-block);
  align-items: center;
  @media screen and (max-width: 700px) {
    flex-flow: column-reverse;
  }
  img {
    @media screen and (min-height: 1200px) {
      padding-top: 2rem;
    }
    flex-shrink: 0;
    object-fit: contain;
    image-rendering: optimizeQuality;
    user-select: none;
    height: 100%;
    @media (prefers-reduced-motion: no-preference) {
      opacity: 0;
      &.viewed {
        animation: subtle-scale 2s cubic-bezier(0.38, 0.11, 0.38, 1) forwards;
      }
    }
  }
  .contact-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  h2 {
    flex-grow: 1;
  }
}

.footnote {
  margin-top: auto;
  padding-block: var(--spacing-block);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  font-size: min(1rem, 4.25vw);
  @media (prefers-reduced-motion: no-preference) {
    opacity: 0;

    &.viewed {
      animation: heavy-scale 1.5s cubic-bezier(0.55, 0.5, 0.1, 1) forwards;
    }
  }
}
