.repos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--drem);

  @media screen and (min-width: 500px) {
    display: grid;
    grid-template-rows: auto auto auto 1fr 1fr;
    grid-template-columns: repeat(5, 1fr);
  }
  @media screen and (min-width: 800px) {
    grid-template-columns: repeat(7, 1fr);
  }
  @media screen and (min-width: 1200px) {
    grid-template-columns: repeat(9, 1fr);
  }
}

.repo {
  background-color: hsl(0, 0%, 8%);
  border: 1px solid var(--color-border-subtle);

  padding: var(--drem);
  border-radius: var(--border-radius);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--drem);

  @media (prefers-reduced-motion: no-preference) {
    opacity: 0;
    &.viewed {
      animation: fade-in 1s ease-in-out forwards;
    }
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: calc(var(--drem) * 0.5 + 0.25rem);
  }

  h3 {
    font-weight: 500;
    font-size: 1.25rem;
  }

  p {
    color: var(--color-light-grey);
  }

  ul {
    font-size: 0.75rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25em;
    padding: 0;
    padding-top: calc(var(--drem) * 0.5);
    list-style: none;
  }

  li {
    padding: 0.125em 0.5em;
    color: var(--color-light-grey);
    background-color: hsl(0, 0, 14%);
  }

  a {
    display: inline-block;
    background-color: hsl(0, 0%, 10%);
    border: 1px solid var(--color-border-subtle);
    padding: 0.5em 1em;
    border-radius: var(--border-radius);
    flex: 1;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-light-grey);
  }
}

// Media queries for grid
.repo {
  &:nth-child(1) {
    grid-area: 1 / 1 / 2 / 3;
  }
  &:nth-child(2) {
    grid-area: 2 / 1 / 3 / 3;
  }
  &:nth-child(3) {
    grid-area: 3 / 1 / 4 / 3;
  }
  &:nth-child(4) {
    grid-area: 4 / 2 / 6 / 3;
  }
  &:nth-child(5) {
    grid-area: 6 / 1 / 8 / 2;
  }
  // &:nth-child(6) {
  //   grid-area: 5 / 1 / 6 / 3;
  // }
  // &:nth-child(7) {
  //   grid-area: 4 / 4 / 5 / 6;
  // }
  // &:nth-child(8) {
  //   grid-area: 6 / 2 / 8 / 3;
  // }
  // &:nth-child(9) {
  //   grid-area: 5 / 1 / 6 / 3;
  // }

  @media screen and (min-width: 500px) {
    &:nth-child(1) {
      grid-area: 1 / 1 / 2 / 4;
    }
    &:nth-child(2) {
      grid-area: 1 / 4 / 2 / 6;
    }
    &:nth-child(3) {
      grid-area: 2 / 1 / 4 / 3;
    }
    &:nth-child(4) {
      grid-area: 2 / 3 / 3 / 6;
    }
    &:nth-child(5) {
      grid-area: 3 / 3 / 4 / 6;
    }
    &:nth-child(6) {
      grid-area: 4 / 1 / 5 / 4;
    }
    &:nth-child(8) {
      grid-area: 4 / 4 / 5 / 6;
    }
    &:nth-child(9) {
      grid-area: 5 / 1 / 6 / 3;
    }
    &:nth-child(7) {
      grid-area: 5 / 3 / 6 / 6;
    }
  }

  @media screen and (min-width: 800px) {
    &:nth-child(2) {
      grid-area: 1 / 1 / 2 / 4;
    }
    &:nth-child(3) {
      grid-area: 1 / 4 / 2 / 8;
    }
    &:nth-child(4) {
      grid-area: 2 / 1 / 4 / 3;
    }
    &:nth-child(1) {
      grid-area: 2 / 3 / 4 / 6;
    }
    &:nth-child(5) {
      grid-area: 2 / 6 / 3 / 8;
    }
    &:nth-child(6) {
      grid-area: 3 / 6 / 4 / 8;
    }
    &:nth-child(8) {
      grid-area: 4 / 1 / 5 / 3;
    }
    &:nth-child(7) {
      grid-area: 4 / 3 / 6 / 5;
    }
    &:nth-child(9) {
      grid-area: 4 / 5 / 5 / 7;
    }
  }

  @media screen and (min-width: 1200px) {
    &:nth-child(2) {
      grid-area: 1 / 2 / 2 / 5;
    }
    &:nth-child(3) {
      grid-area: 1 / 5 / 2 / 9;
    }
    &:nth-child(4) {
      grid-area: 2 / 1 / 3 / 4;
    }
    &:nth-child(1) {
      grid-area: 2 / 4 / 4 / 7;
    }
    &:nth-child(5) {
      grid-area: 2 / 7 / 3 / 10;
    }
    &:nth-child(6) {
      grid-area: 3 / 2 / 5 / 4;
    }
    &:nth-child(8) {
      grid-area: 3 / 7 / 4 / 9;
    }
    &:nth-child(7) {
      grid-area: 4 / 4 / 6 / 6;
    }
    &:nth-child(9) {
      grid-area: 4 / 6 / 5 / 8;
    }
  }
}
