* {
  color: var(--color-text);
}

html {
  scroll-behavior: smooth;
  scrollbar-color: #333 #000;
  scrollbar-width: thin;
}

body {
  background-color: var(--color-bg);
}

::selection {
  background-color: var(--color-text);
  color: var(--color-bg);
}
