* {
  color: var(--color-text);
}

html {
  scrollbar-color: #333 #000;
  scrollbar-width: thin;

  &:focus-within {
    scroll-behavior: smooth;
    --scroll-behavior: smooth;
  }
}

body {
  --bg-scale: 16px;

  background-color: var(--color-bg);
  // prettier-ignore
  background-image: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0) 49%,
    rgb(18, 18, 18) 50%,
    rgba(0 0 0 / 0) 51%
  );
  background-size: var(--bg-scale) var(--bg-scale);
  background-position: center top;
}

::selection {
  background-color: var(--color-text);
  color: var(--color-bg);
}
