* {
  color: var(--color-text);
}

html {
  scrollbar-color: #333 #000;
  scrollbar-width: thin;

  &:focus-within {
    scroll-behavior: smooth;
    --scroll-behavior: smooth;
  }
}

body {
  background-color: var(--color-bg);
}

::selection {
  background-color: var(--color-text);
  color: var(--color-bg);
}
