* {
  font-family: "Rubik", sans-serif;
}

p {
  font-weight: 300;
}

.terminal {
  font-family: "JetBrains Mono";
  background-color: black;
  border: 1px solid var(--color-border-subtle);
  border-radius: var(--border-radius);
  padding: 0.5em 0.75em;
  font-weight: 400;

  &::before {
    content: "> ";
    color: var(--color-grey);
  }
  &::after {
    content: "_";
    // font-weight: 800;
    transform: translateY(-0.1em);
    padding-left: 0.1em;
    position: absolute;
    animation: blink 1s linear infinite;
    color: var(--color-grey);
  }
}
