.banner {
  user-select: none;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: 900;
  cursor: pointer;
  width: fit-content;

  &:hover span,
  &:focus span {
    transition-delay: 50ms;
    transition: transform 350ms cubic-bezier(0.075, 0.82, 0.15, 1.5), color 700ms cubic-bezier(0, 1, 0, 1);
  }
  span {
    pointer-events: none;
    transition: transform 500ms cubic-bezier(0.075, 0.82, 0.15, 1.5), color 1000ms cubic-bezier(0, 1, 0, 1);
    transition-delay: 150ms;
    display: inline-block;
    line-height: 1em;
    font-size: min(16vw, 16rem);
    font-family: "Poppins", sans-serif;
    -webkit-text-stroke: 0.0125em var(--color-text);

    @media (prefers-reduced-motion: no-preference) {
      opacity: 0;
      animation: wave 1.5s cubic-bezier(0.62, 0.43, 0.32, 0.94) forwards;
    }
  }
  .off {
    color: var(--color-bg);
    -webkit-text-stroke: 0.0125em var(--color-text);
  }
  &.clicked {
    .on {
      color: var(--color-bg);
    }
    .off {
      color: var(--color-text);
    }
  }
}

.navlink {
  font-weight: 300;
  line-height: 1em;
  letter-spacing: 0.25em;

  &:hover span,
  &:focus span {
    color: var(--color-grey);
    transition-delay: 25ms;
    transition: transform 350ms cubic-bezier(0.075, 0.82, 0.15, 1.5), color 500ms cubic-bezier(0, 1, 0, 1);
  }
  span {
    pointer-events: none;
    transition-delay: 150ms;
    transition: transform 700ms cubic-bezier(0.075, 0.82, 0.15, 1.5), color 1000ms cubic-bezier(0, 1, 0, 1);
    display: inline-block;
  }
}
